html {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-size: "full";
  background-position: "center";
  background-repeat: "no-repeat";
}
html,
.Card {
  background-color: #7b6fd7c1;
}
@keyframes blinking {
  10% {
    opacity: 1;
  }
  90% {
    opacity: 0.6;
  }
}

.blinking {
  animation: blinking 2s ease-out infinite;
}