html {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-size: "full";
  background-position: "center";
  background-repeat: "no-repeat";
}
